/** Colors  */

$blue: #0AD2F1;
$lightblue: #ebfcfc;
//$lightblue: #ccffff;
$pink: #EB0D8C;
$white: #fff;
$gray: #3e3e3e;
$lightgray: #939393;
$black: #333333;


$noway: "Noway", san-serif;
$nowayitalic: "Noway Italic", san-serif;